<header class="site-header">
  <div class="bar container">
    <div class="brand">
      <span class="dot" aria-hidden="true"></span>
      <a href="/">🎬 VideoShare</a>
    </div>
    <nav>
      <a href="/">Home</a>
      <a href="/search">Search</a>
      {{#if user}}
        <a href="/post/new">Upload</a>
        <a href="/profile">Profile</a>
        <a href="/logout">Log out</a>
      {{else}}
        <a href="/login">Log in</a>
        <a href="/register">Sign up</a>
      {{/if}}
    </nav>
  </div>
</header>
